.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

.idea/
.vscode/
*.iml

# Android / Gradle / Kotlin cache
android/.gradle/
android/.kotlin/
android/app/build/
android/build/
android/local.properties

# Signing / private keys
android/key.properties
*.jks
*.keystore

# Logs
*.log

# OS
.DS_Store
Thumbs.db